#!/usr/bin/env bash
# See https://github.com/cachix/devenv/blob/main/templates/flake/.envrc

export DEVENV_IN_DIRENV_SHELL=true

watch_file flake.nix
watch_file flake.lock
if ! use flake; then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi

# Include .env file if it exists locally. Use the .env file to load env vars that you don't want to commit to git
if [ -f .env ]
then
    set -o allexport
    source .env
    set +o allexport
fi
# Add your env vars here
