@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-gray-900 transition ease-in duration-200 text-gray-300 hover:bg-gray-700/60 px-3 py-2 text-sm;
  }
}

@layer utilities {
  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spinner-reverse {
    100% {
      transform: rotate(-360deg);
    }
  }

  .gradient {
    @apply bg-gradient-to-br from-transparent via-red-700 to-yellow-400;
  }

  .circle-gradient {
    background: radial-gradient(circle at center, white 0, #020617 100%);
  }
}

* {
  @apply box-border;
}

body {
  @apply gradient text-slate-50 w-dvw h-dvh overflow-hidden;
}

main {
  @apply flex flex-col w-full h-full bg-slate-950/95;
}

main div,
svg {
  @apply z-20;
}

svg {
  @apply transition duration-200 ease-in w-10 h-10 lg:w-20 lg:h-20;
}

svg:hover {
  filter: drop-shadow(0px 0px 20px #38bdf8);
}
